<div>
	<input type=hidden name=pageNo value='${page.number}' />
	<input type=hidden name=pageSize value='${page.size}' />
	<input type=hidden name=direction value='ASC' />
	<input type=hidden name=sort value='name' />
	<a href='javascript:void(0)' onclick='toPage(0);'>Previous</a>
	<a href='javascript:void(0)' onclick='toPage(1);'>Next</a>
</div>
<script>
	function toPage(sign) {
		var pageNo = document.forms[0].pageNo.value;
		pageNo = parseInt(pageNo);
		if (sign == 0)
			pageNo -= 1;
		else
			pageNo += 1;
		document.forms[0].pageNo.value = pageNo;
		document.forms[0].submit();
	}
</script>